In [1]:
#use the list
a=["banana", "apple", "microsoft"]
#to print each element
for element in a:
    print(element)

banana
apple
microsoft

In [5]:
#eg2
b=[2, 3, 4]
#to  find the total sum A)introduce a variable and use for loop
total=0
for e in b:
    total=total+e
    print(e, total)

2 2
3 5
4 9

In [6]:
     #find the sum of 1 2 3 4 we use for loop
     #instead of add using previous fomula create a range
range(1, 5)
    #a range of numbers 1-5 without including 5
    #to see what is inside convert it into a list
c=list(range(1, 5))
print(c)

[1, 2, 3, 4]

In [8]:
#you can also use for loop to check what in the range
for e in range(1, 5):
    print(e)

1
2
3
4

In [18]:
#to find the sum of the range elements
t2=0
for e in range(1, 5):
    t2=t2+e
    
print(t2)

10

In [ ]:
#eg2

In [20]:
print(list(range(1, 16)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [ ]:
#find the sum of only the multiples of 3
#to find the multiples of 3 we find the modulo operater $
#modulo=reminder
#i is a mulitople of 3 if i & 3==0

In [22]:
t3=0
for i in range(1, 16):
    if i & 3 == 0:
        t3 +=i
print(t3)

24

In [ ]:
#exercise 'compute all multiples of 3 and 5 in the range 1-100'

In [34]:
list(range(1, 101))
t4=0
for e in range(1, 101):
    print(*(e & 3==0) + *(e & 5==0))

SyntaxError: invalid syntax (<ipython-input-34-0035d09aa80e>, line 4)